p{
  margin:0;
  padding:0;
}
#screens{
  position:fixed;
  top:0px;
  left: 250px;
  width:500px;
  height:700px;
  box-shadow:0 0 0 1px #999;
}
.mb-ruler {
  z-index: 2
}
.cube {
  position: absolute;
}
.ctrlPane{
	position:absolute;
	top:0;
	left:0;
	width:200px;
}
.controller{
	float:left;
	display:inline-block;
	margin:10px;
	border: 1px solid #CCC;
	background-color: #CCC;
	border-radius:5px;
	padding:10px;
	text-align:center;
}
.controller label{
	display:inline-block;
	text-align:center;
	width:70px;
}
.controller input{
	width: 80px;
	margin:10px 0 0;
}
.controller .btns{
	text-align:center;
}
.controller button{
	margin:10px 10px 0;
	background-color:#FEFEFE;
	border-radius: 5px;
	color:#777;
}