$thick: 20px
$border-color: #DADADC
$line-color: red

.mb-ruler
  position: absolute
  width: 100%
  height: 100%
  z-index: 1
  pointer-events: none
  font-size: 12px
  overflow: hidden
  span
    line-height: 1
  // *
  //   box-sizing: content-box

  .corner
    position: absolute
    left: 0
    top: 0
    width: $thick
    height: $thick
    border-right: 1px solid $border-color
    border-bottom: 1px solid $border-color
    pointer-events: auto
    cursor: pointer

  .indicator
    position: absolute
    pointer-events: none
    .value
      position: absolute
      background: white

  .ruler
    width: 100%
    height: 100%
    pointer-events: auto

  .line
    position: absolute
    pointer-events: auto
    .action
      position: absolute
      display: flex
      justify-content: center
      align-items: center

    .value
      pointer-events: none
      transform: scale(0.83)
    .del
      cursor: pointer
      padding: 3px 5px
      visibility: hidden
    &:hover .del
      visibility: visible

  .h-container, .v-container
    position: absolute
    background: lightblue

  .h-container
    left: $thick
    top: 0
    width: calc(100% - #{$thick})
    height: $thick
    border-bottom: 1px solid $border-color
    .line
      height: 100vh
      top: 0
      padding-left: 5px
      border-left: 1px solid $line-color
      cursor: ew-resize
      .action
        top: $thick
        transform: translateX(-24px)
        .value
          margin-left: 4px

    .indicator
      top: 0
      border-left: 1px solid $line-color
      height: 100vw
      .value
        margin-left: 2px
        margin-top: 4px

  .v-container
    top: $thick
    left: 0
    width: $thick
    height: calc(100% - #{$thick})
    border-top: 1px solid $border-color
    border-right: 1px solid $border-color
    margin-top: -1px
    .line
      width: 100vw
      left: 0
      padding-top: 5px
      border-top: 1px solid $line-color
      cursor: ns-resize
      .action
        left: $thick
        transform: translateY(-24px)
        flex-direction: column
        .value
          margin-top: 4px

    .indicator
      border-bottom: 1px solid $line-color
      width: 100vw
      .value
        margin-left: 2px
        margin-top: -5px
        transform-origin: 0 0
        transform: rotate(-90deg)
