/* Base Application Styles */
html,body,#app,.main,.container{
  width:100%;
  height:100%;
}
body {
  color: #fff;
  background-color: rgba(0,255,0,0.1);
  font-family:'Microsoft Yahei';
}
.container{
  position:relative;
  overflow:hidden;
}
/* 改用canvas实现
.container::before{
  content:'';
  position:absolute;
  width:30px;
  height:30px;
  box-sizing:border-box;
  border-right:1px solid #999;
  border-bottom:1px solid #999;
  
} */
#horRuler{
  position:absolute;
  
  top:0;
  left:30px;
  width:100%;
  height:30px;
}
#verRuler{
  position:absolute;
  
  top:30px;
  left:0;
  width:30px;
  height:100%;
  
}
.background{
  position:relative;
  top:30px;
  left:30px;
  overflow:hidden;
  background-color:#EEEEEE;
}

.origin{
  position:absolute;
  /* top:100px;
  left:240px; */
  width:10px;
  height:10px;
  background-color:#990;
}
.origin:hover{

}
.tooltip{
  position:absolute;
  /* opacity:0; */
  top:-200%;
  bottom:-100%;
  left:-1000%;
  right:220%;
  
  line-height:2em;
  font-size:14px;
  padding:.5em 1em;
  background-color:#666;
  border-radius:10px;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  transition:all 1s linear;
}
.tooltip:before{
  position:absolute;
  content:'';
  width:0;
  height:0;
  bottom:30%;
  left:99%;
  color:#333;
  border:8px solid transparent;
  border-left:8px solid #666;
}
.header{
  position:absolute;
  bottom:100%;
  padding:0 5px;
  white-space:nowrap;
  /* font-family:'serial'; */
  height:30px;
  line-height:30px;
  cursor:move;
  color:#AAA;
  -webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;

}
.iphone{
  position:absolute;
  box-shadow:-2px 2px 4px 1px #CCC,2px 0px 4px 1px #CCC;
  background-color:#FBFBFB;
}
.iphone.active:hover{
  outline:none;
}
.iphone:hover{
  outline:4px solid #97C4F0;
}
