/* Base Application Styles */
html,body,#app,.main,.container{
  width:100%;
  height:100%;
}
body {
  color: #fff;
  background-color: rgba(0,255,0,0.1);
}
.container{
  position:relative;
}
.container::before{
  content:'';
  position:absolute;
  width:30px;
  height:30px;
  box-sizing:border-box;
  border-right:1px solid #999;
  border-bottom:1px solid #999;
  
}
#horRuler{
  position:absolute;
  
  top:0;
  left:30px;
  width:100%;
  height:30px;
}
#verRuler{
  position:absolute;
  
  top:30px;
  left:0;
  width:30px;
  height:100%;
  
}
.background{
  position:relative;
  top:30px;
  left:30px;
  overflow:hidden;
  background-color:#EEEEEE;
}

.origin{
  position:absolute;
  /* top:100px;
  left:240px; */
  /* width:800px;
  height:800px; */
  border:4px solid black;
}
.header{
  position:absolute;
  bottom:100%;
  width:100%;
  height:30px;
  line-height:30px;
  cursor:move;
  outline:1px solid red;
  color:#000;

}
.iphone{
  position:absolute;
  /* top:100px; */
  /* left:200px; */
  /* width:200px; */
  /* height:350px; */
  background-color:rgba(0,0,0,0.1);
  outline:1px solid red;
  /* box-shadow:; */
}

