.dragBox{
	position:absolute;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	top:-4px;
	bottom:-4px;
	left:-4px;
	right:-4px;
	z-index:200;
}
.dragBox div{
	display:flex;
	justify-content:space-between;
}
/* .dragBox . */
.dragBox .center{
	align-items:center;
}
.dragBox .bottom{
	align-items:flex-end;
}
.dragBox span{
	border:4px solid black;
}
.top span:first-child{
	cursor: nwse-resize;
}
.top span:nth-child(2){
	cursor: ns-resize;
}
.top span:last-child{
	cursor: nesw-resize;
}
.center span:first-child{
	cursor: ew-resize;
}
.center span:last-child{
	cursor: ew-resize;
}
.bottom span:first-child{
	cursor: nesw-resize;
}
.bottom span:nth-child(2){
	cursor: ns-resize;
}
.bottom span:last-child{
	cursor: nwse-resize;
	 
}
/* 不用定位了,太丑
.dragBox .topLeft{
	top:0;
	left:0;
}
.dragBox .top{
	top:0;
	left:50%;
}
.dragBox .topRight{
	top:;
	left:;
	right:;
	bottom:;
}
.dragBox .left{
	top:;
	left:;
	right:;
	bottom:;
}
.dragBox .right{
	top:50%;
	right:0;
}
.dragBox .bottomLeft{
	top:;
	left:;
	right:;
	bottom:;
}
.dragBox .bottom{
	top:;
	left:;
	right:;
	bottom:;
}
.dragBox .bottomRight{
	right:0;
	bottom:0;
} */